@page "{id}"
@model Shop.RazorPage.Pages.Admin.Banners.EditModel
@{
    ViewData["selected"] = "banners";
}


<form method="post" class="card" enctype="multipart/form-data">
    <div class="row card-body">
        <div class="col-md-6">
            @Html.EditorFor(m => m.Link)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.ImageFile)
        </div>
        @Html.EditorFor(m => m.Position)
    </div>
    <div class="card-footer text-left">
        @*        <button class="btn btn-success" type="submit">ثبت اطلاعات</button>
        *@
        @*<cancel-button></cancel-button>*@
        <submit></submit>
    </div>
</form>