@page "{id}"
@model Shop.RazorPage.Pages.Admin.Categories.EditModel
@{
}

<form method="post" class="card">
    <div class="row card-body">
        <div class="col-md-6">
            @Html.EditorFor(m => m.Title)
        </div>
        <div class="col-md-6">
            @Html.EditorFor(m => m.Slug)
        </div>
        @Html.EditorFor(m => m.SeoData)
    </div>
    <div class="card-footer text-left">
        <cancel></cancel>
        <submit></submit>
    </div>
</form>
