@page
@using Shop.Domain.RoleAgg.Enum
@model Shop.RazorPage.Pages.Admin.Roles.AddModel
@{
    ViewData["title"] = "افزودن نقش";
    ViewData["selected"] = "roles";
    Layout = "Shared/_AdminLayout";
}

<form method="post" class="card" >
    <div class="row card-body">
        <div class="col-md-6">
            @Html.EditorFor(m=>m.Title)
        </div>
        <div class="col-md-6">
            <label>انتخاب نقش</label>
            <select class="form-control select2" multiple="" name="permissions">
                @foreach (var item in Enum.GetValues(typeof(Permission)))
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>
    </div>
    <div class="card-footer text-left">
        <cancel></cancel>
        <submit></submit>
    </div>
    

</form>












