@page "{id}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Shop.Domain.RoleAgg.Enum
@using Shop.RazorPage.TagHelpers
@model Shop.RazorPage.Pages.Admin.Roles.EditModel
@{
    Layout = "Shared/_AdminLayout";
}
@{
    ViewData["title"] = "ویرایش نقش";
    ViewData["selected"] = "roles";

}
<h3>@ViewData["title"]</h3>
<form method="post" class="card">
    <div class="card-body row">
        <div class="col-md-6">
            @Html.EditorFor(m=>m.Title)
        </div>
        <div class="col-md-6">
            <label>انتخاب دسترسی ها</label>
            <select class="select2 form-control" multiple="" name="permissions[]">
                @foreach (var item in Enum.GetNames(typeof(Permission)))
                {
                    <option selected="@Model.Permissions.Any(f=>f.ToString() == @item)">@item</option>
                }
            </select>
        </div>
        <div class="card-footer text-left">
            <cancel></cancel>
            <submit></submit>
        </div>
    </div>
</form>