@page
@model Shop.RazorPage.Pages.Admin.Roles.IndexModel
@{
    ViewData["title"] = "مدیریت نقش ها";
    ViewData["selected"] = "roles";
    Layout = "Shared/_AdminLayout";
}


<h3>@ViewData["title"]</h3>
<a asp-page="Add" class="btn btn-success mb-2">افزودن نقش</a>
<div class="table-responsive card card-body p-0">
    <table class="table table-bordered mb-0">
        <thead>
        <tr>
            <th>شماره نقش</th>
            <th>عنوان</th>
            <th>عملیات</th>
   
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Roles)
            {
                <tr>
                    <td class="text-bold-500">
                        @item.Id
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">ویرایش</a>
                    </td>
                </tr>

            }

        
        @if (Model.Roles.Any() == false)
        {
            <tr>
                <td colspan="3" class="text-center">موردی برای نمایش وجود ندارد</td>
            </tr>
        }

        </tbody>
    </table>
</div>

