@page
@model Shop.RazorPage.Pages.Profile.ChangePasswordModel
@{
}

<div class="row mb-5">
    <partial name="Shared/_ProfileSideBar" />
    <div class="col-lg-9 col-md-8">
        <div class="col-12">
            <div class="section-title mb-2">
                @ViewData["title"]
            </div>
            <section class="shadow-around p-3">
                <form method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-12">
                            @Html.EditorFor(m => m.CurrentPassword)
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(m => m.NewPassword)
                        </div>
                        <div class="col-6">
                            @Html.EditorFor(m => m.ConfirmNewPassword)

                        </div>
                        <div class="col-12">
                            <div class="form-element-row text-left">
                                <button type="submit" class="btn-element btn-success-element">
                                    <i class="fad fa-user-edit"></i>
                                    ذخیره تغییرات
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>